* {
    font-family: sans-serif, Arial, Helvetica;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background-image: url(NBAbackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.app-header {
    min-height: 20vh;
}
.app-nav {
    display: flex;
    
}
.app-nav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #003366;
    opacity: 0.8;
    width: 100%;
}
.app-nav ul li {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teams-li {
    list-style-type: none;
}
.app-nav ul li ul li a {
    
}
.app-nav ul li a {
    
}

