* {
    font-family: sans-serif, Arial, Helvetica;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
/* navbar */
.app-header {
     min-height: 20vh; 
}
.app-nav {
    display: flex;
    min-height: 9vh;
    position: fixed;
    min-width: 100vw;
    z-index: 1;
    
}
.app-nav .active-title {
    background-color: black;
    text-decoration: none;
    padding: 2px 15px;
}

@media screen and (max-width: 600px) {
    .app-header ul li {
      float: none;
      width: 100%;
    }
  }
.app-nav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
    width: 100%;
    background-color: #003366;
}
.app-nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003366;
}
.app-nav ul li:hover {
    background-color: #0066cc;
    
}
.dropdown ul {
    list-style: none;
    position: absolute;
    flex-direction: column;
    display: none;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 0%;
    animation-name: dropdownanim;
    animation-duration: 1s;
    transform-origin: top;
    width: max-content;
    text-align: left;
}
@keyframes dropdownanim {
        0% {
          transform: scaleY(0)
        }
        80% {
          transform: scaleY(1.1)
        }
        100% {
          transform: scaleY(1)
        }
      }

.dropdown ul li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #001a33;
}
.dropdown:hover ul {
    display: flex;
}

.dropdown {
    position: relative;
    padding: 2px 15px;
}

.app-nav ul li a {
    text-decoration: none;
    padding: 2px 15px;
}
.dropdown ul li a {
    padding-left: 0;
}

.lakers-body {
    background-image: url(LakersBackground.jpg);
}
.miami-body {
    background-image: url(MiamiBackground2.jpg);
}
.boston-body {
    background-image: url(CelticsBackground.jpg);
}


.game-recap-body {
    background-image: url(NBAbackground2.jpg);
}
/* Standing page */
.standing-body {
    background-image: url(NBAbackground2.jpg);
}
.standing-div {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin: 20px;
    background-color: #f2f2f2;
    opacity: 0.9;
    z-index: -1;
 }

.standing-table {
    border-collapse: collapse;
    width: 100%;
    
}
.standing-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #808080;
}
#eastern-heading {
    padding-top: 60px;
}
.table-headline {
    background-color: rgb(45, 15, 23);
    margin: 0%;
    padding: 20px;
}
.standing-table td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
}
.standing-table tr:hover {
background-color: #e6f2ff;
}
/* home page */
.homepage-body {
    background-image: url(NBAbackground2.jpg);
}
.home-div {
    box-sizing: border-box; 
    margin: 20px;
    opacity: 0.9;
    height: 70vh;
}
.home-div h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.home-div h3 {
    margin-top: 80px;
}
.home-div p {
    margin-top: 40px;
}
.the-shot {
    margin-left: 30vw;
}
/* game recap */
.first-video-row {
    margin-right: 6vw;
    margin-left: 2vw;
}
.second-video-div {
    margin-top: 60px;
}
.second-video-row {
    margin-right: 6vw;
    margin-left: 2vw;
}
.third-video-row {
    margin-right: 6vw;
    margin-left: 2vw;   
}
.third-video-div {
    margin-top: 60px;
}
span {
    margin-right: 50vw;
    margin-left: 30px;
}

/* lakers page */
.lakers-paragraph {
    opacity: 0.98;
    color: black;
}
